.position-relative {
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.font {
    font-size: 50px;
    text-shadow: 10px;
    color: #ffffff;
}
img {
    filter: brightness(50%);
}
* { margin:0; padding:0; box-sizing:border-box; overflow-x: hidden}