<div class="row">
  <div class="col-lg-12">
    <p class="font-lg padding centered">Grameen Store+ is creating wholesale food and grocery value chain in rural India by building community and using technology & design.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-sm-12">
    <img src="../../assets/images/market-place.jpg" alt="grameenstore supply chain in odisha" style="width: 100%; height:100%">
  </div>
  <div class="col-lg-6 col-sm-12 centered">
      <div class="font-xl margin-header">MarketPlace Platform</div>
      <hr class="line">
      <p class="font-lg padding">Our marketplace platform connects thousands of small and medium grocery stores with brands, regional food manufactures</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm-12 centered pull-right">
      <div class="font-xl margin-header">Wide range</div>
      <hr class="line">
      <p class="font-lg padding ">We offer a wide range of high quality and reliable staples, packaged food, personal care and home care products from International, Indian and local produces</p>
  </div>
  <div class="col-lg-6 col-sm-12 pull-left padding-widerange">
    <img src="../../assets/images/wide-range.png" alt="grameenstore supply chain in odisha" style="width: 80%; height:80%">
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm-12">
    <img src="../../assets/images/body-img1.jpg" alt="grameenstore supply chain in odisha" style="width: 100%; height:100%">
  </div>
  <div class="col-lg-6 col-sm-12 centered">
      <div class="font-xl margin-header">Quality Assurance</div>
      <hr class="line">
      <p class="font-lg padding ">We only register quality producers at our market place. So that customers will get quality products at best prices</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm-12 centered">
      <div class="font-xl margin-header">Supply chain and Logistic</div>
      <hr class="line">
      <p class="font-lg padding">We have our own warehouse, transport facilities and offer fulfilment solutions to doorstep delivery to our customers</p>
  </div>
  <div class="col-lg-6 col-sm-12">
    <img src="../../assets/images/body-img1.jpg" alt="grameenstore supply chain in odisha" style="width: 100%; height:100%">
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm-12">
    <img src="../../assets/images/body-credit.jpg" alt="grameenstore supply chain in odisha" style="width: 100%; height:100%">
  </div>
  <div class="col-lg-6 col-sm-12 centered">
      <div class="font-xl margin-header">Credit</div>
      <hr class="line">
      <p class="font-lg padding ">We provide access to working capital credits through our partners. It's easy and hassle free </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm-12 centered">
      <div class="font-xl margin-header">Community</div>
      <hr class="line">
      <p class="font-lg padding ">We help in creating small community of retailers and help them in solving different bottle necks through this community platform</p>
  </div>
  <div class="col-lg-6 col-sm-12">
    <img src="../../assets/images/body-community.jpg" alt="grameenstore supply chain in odisha" style="width: 100%; height:100%">
  </div>
</div>

<div class="row">
    <div class="col-lg-12">
      <p class="font-xl centered">We deliver happiness</p>
    </div>
</div>
<!-- carousal -->
<div class="row">
  <div class="col-lg-12 margin-bottom">
    <app-home-testimonial-slide></app-home-testimonial-slide>
  </div>
</div>
<!-- carousal -->

<!-- <div class="row">
    <div class="col-lg-12">
      <p class="font-lg centered">Our inhouse team works in solving different problems faced by small and medium retailers in rural parts of India and our business focuses on total satisfaction of our customers</p>
      <hr class="line">
    </div>
</div> -->

<div class="row">
  <div class="col-lg-12">
    <app-home-team></app-home-team>
  </div>
</div>

