.slide-box {
    width: 70%;
}
.padding {
    padding: 10% 20% 10% 20%;
}
.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.position-relative {
    position: relative;
    text-align: center;
}