
<div class="position-relative">
  <div id="demo" class="carousel slide slide-box centered" data-ride="carousel" data-interval="2000">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-interval="2000" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-interval="2000" data-slide-to="1"></li>
      <li data-target="#demo" data-interval="2000" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img srcset="../../assets/images/slide-1.jpeg 2x, ../../assets/images/slide-1-small.jpeg 1x" src="../../assets/images/slide-1.jpeg" alt="Los Angeles" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img srcset="../../assets/images/slide-2.jpeg 2x, ../../assets/images/slide-2-small.jpeg 1x" src="../../assets/images/slide-2.jpeg" alt="Chicago" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img srcset="../../assets/images/slide-3.jpeg 2x, ../../assets/images/slide-3-small.jpeg 1x" src="../../assets/images/slide-3.jpeg" alt="New York" width="1100" height="500">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>

